/***********************************************************************************************************
 * GENERIC STYLING
 ***********************************************************************************************************/
.hidden-el { visibility: hidden; }
.red-text { color: #ff0000; }
.bgColour-black { background-color: #000000; }

/* ----- Sticky header & footer - ref: jsfiddle.net/naqE6/1 ----- */
html, body, div#root { min-height: 100%; padding: 0; margin: 0; }
.App, .FlexiHeightContainer { position: absolute; top: 0; left: 0; bottom: 0; right: 0; padding-top: 50px; padding-bottom: 50px; }
.FlexiHeightContainer { height: 100%; }
header { margin-top: -50px; height: 50px; }
header, main, footer { margin-left: auto; margin-right: auto; }
main { min-height: 100%; border: 5px solid #000000;  }
footer { margin-bottom: -50px; height: 50px; }
/* have to take the margin off the p tag as in some browsers this can add extra margin to main > div */
p { margin: 0; padding: 0 0 1em 0; }
.ThemeContainer { margin: auto; margin-bottom:50px; border: 5px solid #000000; height: 100%;
                  padding: 15px 15px 15px 15px; overflow-y: auto; overflow-x: hidden; }

/* ----- Sign In & Sign Up Forms ----- */
.SignIn form, .SignIn > div { margin: auto; width: 400px; }
.SignIn form .formGroup label,
.SignUp form .formGroup label { width: 100%; }
.SignIn form { margin-bottom: 15px; }

/* ----- Title & Signup + sign in link buttons ----- */
.ingame-header-morestuff > div:last-child { text-align: right; }
.ingame-header-morestuff > div:last-child > span { color: #000000; text-decoration: none; }

/* ----- Tutorial buttons, linkedin & github hyperlinks ----- */
.ingame-footer-morestuff .footer-morestuff-lhs > div { color: #ffffff; background-color: #000000; cursor: pointer;
                                                       font-weight: bold; text-align: center;
                                                       margin-top: 7px; padding: 3px 0 3px 0; float: left; }
.ingame-footer-morestuff .footer-morestuff-lhs > div:not(:first-child) { margin-left: 10px; }
.ingame-footer-morestuff .footer-morestuff-lhs > div:hover { color: #000000;
                                                             background-color: #ffffff;
                                                             border: 1px solid #000000; }
.ingame-footer-morestuff .footer-morestuff-lhs > div > a { color: #ffffff; text-decoration: none; }
.ingame-footer-morestuff .footer-morestuff-lhs > div > a:hover,
.ingame-footer-morestuff .footer-morestuff-lhs > div > a:active { color: #000000; }                                                            
.ingame-footer-morestuff > div:last-child { text-align: right; padding-top: 7px; }
.ingame-footer-morestuff > div:last-child > a:not(:first-child) { margin-left: 5px; }
.ingame-footer-morestuff .tutorial-button { width: 90px; }
.ingame-footer-morestuff .credit-button { width: 70px; }

/* ----- Portal - Confirmation window modal popup message ----- */
.Portal {
    position: absolute; width: 100%; background-color: rgba(153, 153, 153, 0.3);
    z-index: 2;
}
.modalWindowSmall { width: 300px; }
.modalWindowLarge { width: 50%; height: 90%; }
.modalWindow {
    position: absolute; top: 50%; left: 50%; border: 5px solid #000000;
    background-color: #ffffff; transform: translate(-50%, -50%);
}
.modalWindow .container { height: 100%; text-align: center;
                          padding-left: 0px !important; padding-right: 0px !important; }

.modalWindowLarge .row:first-child { height: 90%; text-align: center; padding-bottom: 30px; }
.modalWindowLarge .row:last-child { height: 10%; }
.modalWindowLarge .row:last-child > .col-12 > div { border: 5px solid #000000; width: 20%;
                                                    margin: auto; font-size: 24px; padding-bottom: 5px;
                                                    cursor: pointer; }
.modalWindowLarge .row:last-child > .col-6 > div { border-top: 5px solid #000000; cursor: pointer;
                                                   font-size: 24px; padding-bottom: 5px; }
.modalWindowLarge .row:last-child > .col-6:first-child > div { border: 3px solid #000000; }
.modalWindowLarge .row:last-child > .col-6:last-child > div { border: 3px solid #000000; }

.modalWindowSmall .row:first-child { height: 75%; text-align: center; }
.modalWindowSmall .row:last-child > .col-6 > div { border-top: 5px solid #000000; cursor: pointer;
                                                   font-size: 24px; padding-bottom: 5px; }
.modalWindowSmall .row:last-child > .col-6:first-child > div { border-right: 3px solid #000000; }
.modalWindowSmall .row:last-child > .col-6:last-child > div { border-left: 3px solid #000000; }

.modalWindowSmall .row:last-child > .col-12 > div { border-top: 5px solid #000000; cursor: pointer;
                                                    font-size: 24px; padding-bottom: 5px; }

.modalWindow .row:last-child > div > div:hover,
.modalWindow .row:last-child > div > div:active { background-color: #000000; color: #ffffff; }

.modalContentContainer { display: table; width: 100%; height:100%; position:relative;
                         padding: 50px 10px 50px 10px; }
.modalContent { display: table-cell; vertical-align: middle; text-align: center; ;
                margin-left: auto; margin-right: auto; }
.modalImg { width: 15%; border: 2px solid #000; padding: 3px; margin: auto;
            margin-top: 7px; margin-bottom: 5px; }

/* ----- Char Profile pic (Status Btn) & char Level indicator ----- */
header, footer { position: relative; }
.ingame-uber-box { position: absolute; margin-left: auto; margin-right: auto; top: 0; left: 0; right: 0;
                   bottom: 0; border: 5px solid #000000; background-color: #ffffff;
                   border-radius: 20px; z-index: 2; }
.ingame-profilepic-box { margin-top: auto; margin-bottom: 10px; cursor: pointer; }
.ingame-profilepic-box > div { border: 5px solid #000000; margin: auto; margin-top: 8px;
                               text-align: center; padding-bottom: 5px; }
.ingame-charlevel-box { margin-bottom: auto; margin-top: 10px; }
.ingame-charlevel-box > div { text-align: center; border: 5px solid #000000; margin: auto; }

/* ----- Char Level progress bar container ----- */
.ingame-lvprogress-container > .row > div:first-child { text-align: left; font-size: 18px; }
.ingame-lvprogress-container > .row > div:last-child { text-align: right; font-size: 18px; }
.ingame-lvprogress-bar .col-12 > div { float:left; border: 1px solid #999999; }
.ingame-lvprogress-bar > div:last-child::after{ clear: both; }

/* ----- Char Equipment Btn & Money indicator ----- */
.ingame-hyper-box { border: 5px solid #000000; margin-left: auto; margin-right: auto;
                    border-radius: 20px; }
.ingame-hyper-box-decor { border: 3px solid #000000; height: 40px; width: 1px;
                          margin-left: auto; margin-right: auto; }

.ingame-goto-shop { cursor: pointer; }
.ingame-goto-inventory > div, .ingame-goto-shop > div:first-child { margin: auto; width: 92%;
                                                        border-radius: 15px; border: 5px solid #000000; }
.ingame-goto-shop > div:first-child { height: 55%; }
.ingame-goto-shop > div:first-child > div { width: 100%; text-align: center; font-weight: bold;  }

/* ----- In game inventory & vital stat  ----- */
.ingame-inventory-container > .row:first-child > div,
.ingame-vitalstat-container > .row:first-child > div { font-size: 24px; text-align: center;
                                                        margin: 10px 0 10px 0; }
.ingame-vitalstat-container > div:last-child { border: 1px solid #999999; }
.ingame-vitalstat-bar > div { width: 45px; margin-left: 12px; line-height: 0.7;
                              font-weight: lighter; padding: 0 7px 7px 7px; }
.ingame-vitalstat-number > div:first-child { border-bottom: 2px solid #000000; text-align:center; }

.ingame-inventory-shiftbtn-1, .ingame-inventory-shiftbtn-2 { cursor: pointer; border: 1px solid #999999; }
.ingame-inventory-itemslot { cursor: pointer; border: 1px solid #999999; }
.ingame-inventory-itemslot-disabled { border: 1px solid #333333; background-color: #999999; }
.ingame-goto-inventory > div:active { background-color: #000000; }

/* ----- The Board Game & Equip pane ----- */
.ingame-board-container, .ingame-equipmentpane-container, .ingame-startbtn-container,
.ingame-heropane-container, .ingame-battle-container, .ingame-shoppane-container { border: 1px solid #999999; }
.ingame-startbtn-container > .row { height: 100%; }
.ingame-heropane-container > .row > div:nth-child(2):active { padding-right: 20px; padding-left: 10px; }
.ingame-heropane-container > .row > div:nth-child(4):active { padding-right: 10px; padding-left: 20px; }
.ingame-heropane-container > .row:last-child { text-align: center; }
.ingame-heropane-container > .row:last-child > div { border-top: 1px solid #000000; }
.ingame-heropane-container img { padding-top: 18px; }
.ingame-shoppane-container { text-align: center; font-size: 36px; padding-top: 190px;}
.board-tile-fow-mode, .board-tile-reveal-mode  { cursor: pointer; }
.board-tile-explored-mode { background-color: rgba(153, 153, 153, 0.6); }
.board-tile-fow-mode:hover { background-color: #999999; }
.board-tile-reveal-mode, .board-tile-explored-mode { padding: 19px 17px 0 15px; }
.board-tile-reveal-mode { background-color: rgba(153, 153, 153, 0.3); }
.ingame-equipmentpane-container > .row > div > div:first-child { margin-top: 30px; font-size: 24px; text-align: center; }
.equipment-slot { border: 5px solid #000000; }
.equipment-slot-innerborder { margin: auto; width: 90%; height: 90%; border: 5px solid #000000; background-color: #000000; }
.equipment-slot-innerborder-occupied { background-color: #ffffff !important; }
.equipment-slot img { width: 90%; }
.levelup-attr-slot { font-size: 36px; color: #999999; text-align: center; font-weight: bold; padding: 10px 0 0 0 !important; }
.levelup-attr-icon { padding-top: 10px; }
.levelup-attr-updatebtn { cursor: pointer; }
.levelup-avail-point-indicator { background-color: #000000; color: #ffffff; text-align: center; font-size: 48px; }
.levelup-point-dist-actionbtn { border-top: 1px solid #999999; border-left: 1px solid #999999; text-align: center;
                                cursor: pointer; }
.levelup-point-dist-actionbtn:hover { background-color: #000000; color: #ffffff; }
.levelup-confirm-point-dist { font-size: 36px; padding-top: 10px; }
.levelup-reset-point-dist { font-size: 18px; padding-top: 23px; }

.start-button-container { margin: auto; text-align: center; height: 156px; width: 156px; font-size: 36px; line-height: 1; }
.start-button { color: #ffffff; border: none; background-color: #000000; width: inherit; height: inherit;
                padding: 0; }
.start-button:hover { color: #000000; background-color: #ffffff; border: 5px solid #000000; }

.ingame-battle-container > .row:first-child > div:nth-child(2) { height: 78px; text-align: center;
                                                                 font-size: 20px; padding-top: 5px; }
.ingame-battle-container > .row:first-child > div:first-child,
.ingame-battle-container > .row:first-child > div:last-child { text-align:center; background-color: #000000; color: #ffffff; }
.ingame-battle-container > .row:nth-child(3) { text-align: center; }
.ingame-battle-container > .row:first-child img { width: 8%; display: none; }
.ingame-battle-container > .row:first-child > div:first-child > div:last-child,
.ingame-battle-container > .row:first-child > div:last-child > div:last-child { font-size: 36px; }
.ingame-battle-container-btn  { width: 78px; margin-top: 12px !important; padding-top: 5px;
                                border: 5px solid #000000; background-color: #ffffff; color: #000000;
                                margin: auto; text-align: center;  cursor: pointer; }
.ingame-battle-container-btn:hover { background: #000000; color: #ffffff; padding-top: 5px; }
.ingame-battle-container-btn:active { background: #ffffff; color: #000000; padding-top: 5px; }
.ingame-battle-container-btn-disabled { background: #000000; color: #ffffff; padding-top: 5px;
                                        width: 78px; margin-top: 12px !important; margin: auto;
                                        text-align: center; border: 5px solid #000000; }

.enemyShowsUp { animation: showingUpAnimation 0.5s normal; -webkit-animation: showingUpAnimation 0.5s normal;
                -moz-animation: showingUpAnimation 0.5s normal; -o-animation: showingUpAnimation 0.5s normal; }

/* ----- Credit ----- */
.modalCreditContainer h3 { padding-top: 35px; }
.creditContainer { overflow-y: auto; overflow-x: hidden; }
.creditContainer > .row > div { margin-top: 15px; }
.creditIcon { width: 50%; }

@keyframes showingUpAnimation {
    0% { transform: rotate(20deg); } 45% { padding-left: 15px; } 65% { padding-left: 0px; } 100% { transform: rotate(0deg); }
}
@-webkit-keyframes showingUpAnimation {
    0% { transform: rotate(20deg); } 45% { padding-left: 15px; } 65% { padding-left: 0px; } 100% { transform: rotate(0deg); }
}
@-moz-keyframes showingUpAnimation {
    0% { transform: rotate(20deg); } 45% { padding-left: 15px; } 65% { padding-left: 0px; } 100% { transform: rotate(0deg); }
}
@-o-keyframes showingUpAnimation {
    0% { transform: rotate(20deg); } 45% { padding-left: 15px; } 65% { padding-left: 0px; } 100% { transform: rotate(0deg); }
}

@keyframes shakingAnimation {
    0% { padding-left: 30px; } 45% { padding-left: 0px; } 65% { padding-left: 15px; } 100% { padding-left: 0px; }
}
@-webkit-keyframes shakingAnimation {
    0% { padding-left: 30px; } 45% { padding-left: 0px; } 65% { padding-left: 15px; } 100% { padding-left: 0px; }
}
@-moz-keyframes shakingAnimation {
    0% { padding-left: 30px; } 45% { padding-left: 0px; } 65% { padding-left: 15px; } 100% { padding-left: 0px; }
}
@-o-keyframes shakingAnimation {
    0% { padding-left: 30px; } 45% { padding-left: 0px; } 65% { padding-left: 15px; } 100% { padding-left: 0px; }
}

@keyframes fadingAnimation {
    0% { transform: rotate(20deg); opacity: 0.7; } 45% { opacity: 0.45; } 65% { opacity: 0.25; } 100% { opacity: 0; }
}
@-webkit-keyframes fadingAnimation {
    0% { transform: rotate(20deg); opacity: 0.7; } 45% { opacity: 0.45; } 65% { opacity: 0.25; } 100% { opacity: 0; }
}
@-moz-keyframes fadingAnimation {
    0% { transform: rotate(20deg); opacity: 0.7; } 45% { opacity: 0.45; } 65% { opacity: 0.25; } 100% { opacity: 0; }
}
@-o-keyframes fadingAnimation {
    0% { transform: rotate(20deg); opacity: 0.7; } 45% { opacity: 0.45; } 65% { opacity: 0.25; } 100% { opacity: 0; }
}

@keyframes attackAnimation {
    0% { transform: rotate(0deg); } 50% { transform: rotate(360deg); } 100% { transform: rotate(-360deg); }
}
@-webkit-keyframes attackAnimation {
    0% { transform: rotate(0deg); } 50% { transform: rotate(360deg); } 100% { transform: rotate(-360deg); }
}
@-moz-keyframes attackAnimation {
    0% { transform: rotate(0deg); } 50% { transform: rotate(360deg); } 100% { transform: rotate(-360deg); }
}
@-o-keyframes attackAnimation {
    0% { transform: rotate(0deg); } 50% { transform: rotate(360deg); } 100% { transform: rotate(-360deg); }
}

/***********************************************************************************************************
 * GENERIC DESKTOP STYLING
 ***********************************************************************************************************/
@media screen and (min-width: 992px) {
    html, body, div#root { overflow: auto; }

    /* ----- SignUp form ----- */
    .SignUp form .col-lg-6, .SignUp form .col-xl-6 { padding: 0 15px 0 15px; }
    .SignUp form .col-lg-6:last-child, .SignUp form .col-xl-6:last-child { border-left: 1px solid #999999; }

    /* ----- Title & Signup + sign in link buttons ----- */
    .ingame-header-morestuff > div { font-size: 20px; padding-top: 8px; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-vitalstat-container, .ingame-inventory-container { width: 100%;}
    .ingame-inventory-container > .row:last-child > div { display: none; }
    .ingame-inventory-itemslot,
    .ingame-inventory-itemslot-disabled { padding: 14px 12px 12px 10px !important; }

    .ingame-inventory-shiftbtn-1 { border-bottom: 1px solid #999999; }
    .ingame-inventory-shiftbtn-2 { border-top: 1px solid #999999; }

    .ingame-vitalstat-number > div:first-child,
    .ingame-vitalstat-number > div:last-child { width: 80%; font-size: 18px; margin: auto; text-align: center; }

    /* ----- Char Equipment Btn & Money indicator ----- */
    .ingame-goto-shop > div:first-child > div > img { width: 40%; margin: auto; padding-top: 10px; }
    .ingame-goto-shop > div:nth-child(2) { text-align: center; margin-top: 10px; font-size: 24px; }
    .ingame-goto-shop-label { margin-top:15px; }
    .ingame-goto-inventory > div > img { margin-right: 7px; cursor: pointer; }

    /* ----- Centre Pane ----- */
    .ingame-battle-container-btn, .ingame-battle-container-btn-disabled { height: 60px; font-size: 24px; }
}

/***********************************************************************************************************
 * PARTICULAR DESKTOP STYLING
 ***********************************************************************************************************/
/* Firefox - Any version (Gecko) */
@-moz-document url-prefix() {
    @media screen and (min-width: 1368px) {
        /* ----- Char level progress bar container ----- */
        .ingame-lvprogress-bar .col-12 > div { margin-left: 3.3px !important; }
    }
}

/* Webkit - Chrome & Safari (Any version) */
@media screen and (min-width: 1368px) and (-webkit-min-device-pixel-ratio:0) {
    /* ----- Char level progress bar container ----- */
    .ingame-lvprogress-bar .col-12 > div { margin-left: 3px !important; }

    .board-tile-fow-mode, .board-tile-reveal-mode { margin-top: -1px; }
}

/* Microsoft Edge */
@supports (-ms-ime-align:auto) and (min-width: 1368px) {
    /* ----- Char level progress bar container ----- */
    .ingame-lvprogress-bar .col-12 > div { margin-left: 3px !important; }

    .ingame-goto-inventory > div, .ingame-goto-shop > div:first-child { padding-right: 10px !important; }
}

@media screen and (min-width: 1368px) {
    .App, .Portal { height: 920px; }
    header, main, footer, .ThemeContainer { max-width: 1140px; }

    .ingame-startbtn-container, .ingame-battle-container, .ingame-shoppane-container,
    .ingame-equipmentpane-container { height: 534px; }
    .ingame-board-container > .row > div { border: 1px solid #999999; width: 89px; height: 89px; }
    .ingame-heropane-container > .row > div { width: 88px; height: 88px; }
    .equipment-slot { height: 167px; }
    .equipment-slot-innerborder { margin-top: 8px; }
    .equipment-slot img { margin: 11px 0 0 3px; }
    .ingame-inventory-shiftbtn-1 img { width: inherit; padding: 10px 80px 0 80px; }
    .ingame-inventory-shiftbtn-2 img { width: inherit; padding: 5px 80px 0 80px; }
    .ingame-inventory-shiftbtn-1 img:active { padding-top: 5px; }
    .ingame-inventory-shiftbtn-2 img:active { padding-top: 10px; }
    .ingame-goto-inventory > div > img { padding: 8px 0 8px 0px; }
    .ingame-heropane-container > .row:last-child > div:nth-child(odd) { font-size: 20px; padding-top: 12px;}
    .ingame-heropane-container > .row:last-child > div:nth-child(even) { font-size: 36px; padding-top: 15px; }
    .ingame-goto-shop > div:first-child > div { font-size: 36px; }

    /* ----- Char level progress bar container ----- */
    .ingame-lvprogress-bar img { width: 30px; padding-top: 5px; margin-left: 1.5px; margin-right: 1.5px; }

    /* ----- Char Profile pic (Status Btn) & char Level indicator ----- */
    .ingame-uber-box { width: 152px; }
    .ingame-charlevel-box { height: 130px; }
    .ingame-profilepic-box { height: 152px; }
    .ingame-charlevel-box > div { border-radius: 100px; width:100px; margin-top: 9px !important; font-size: 60px; }
    .ingame-profilepic-box > div { font-size: 48px; width: 90%; }
    .ingame-lvprogress-bar .col-12 > div { margin-left: 3.3px; }

    /* ----- Char Level progress bar container ----- */
    .ingame-lvprogress-container { height: 80px; margin-top: 70px; padding-left: 0px; padding-right: 0px; }
    .ingame-lvprogress-bar { padding-top: 0px; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-vitalstat-bar > div { font-size: 45px; }
    .ingame-vitalstat-icon > img { width: 70%; padding: 15px 0px 5px 20px; }
    .ingame-vitalstat-number > div:first-child,
    .ingame-vitalstat-number > div:last-child { padding: 3px 0 3px 0; }

    .ingame-inventory-itemslot, .ingame-inventory-itemslot-disabled,
    .ingame-inventory-shiftbtn-1, .ingame-inventory-shiftbtn-2 { height: 73.5px; }

    /* ----- Char Equipment Btn & Money indicator ----- */
    .ingame-hyper-box { width: 200px; height: 200px; }
    .ingame-hyper-box-decor { margin-top: -300px; visibility: hidden; }
    .ingame-goto-inventory > div, .ingame-goto-shop > div:first-child { margin-top:8px; }
}

@media screen and (min-width: 992px) and (max-width: 1367px) {
    .App, .Portal { height: 762px; }
    header, main, footer, .ThemeContainer { max-width: 960px; }

    .ingame-startbtn-container, .ingame-battle-container, .ingame-shoppane-container,
    .ingame-equipmentpane-container { height: 468px; }
    .ingame-board-container > .row > div { border: 1px solid #999999; width: 78px; height: 78px; }
    .equipment-slot { height: 138px; }
    .equipment-slot-innerborder { margin-top: 6px; }
    .equipment-slot img { margin: 5px 0 0 3px; }
    .ingame-goto-inventory > div > img { padding: 5px 0 8px 0px; }
    .ingame-heropane-container > .row > div { width: 78px; height: 78px; }
    .ingame-heropane-container > .row:last-child > div:nth-child(odd) { font-size: 20px; padding-top: 7px;}
    .ingame-heropane-container > .row:last-child > div:nth-child(even) { font-size: 24px; padding-top: 15px; }
    .ingame-goto-shop > div:first-child > div { font-size: 20px; }

    /* ----- Char Profile pic (Status Btn) & char Level indicator ----- */
    .ingame-uber-box { width: 102px; }
    .ingame-charlevel-box { height: 87px; }
    .ingame-profilepic-box { height: 102px; }
    .ingame-charlevel-box > div { border-radius: 60px; width:70px; margin-top: 3px !important; font-size: 40px; }
    .ingame-profilepic-box > div { font-size: 24px; width: 80%; }

    /* ----- Char Level progress bar container ----- */
    .ingame-lvprogress-container { height: 70px; margin-top: 35px; }
    .ingame-lvprogress-container { max-width: 468px; padding-left: 0px; padding-right: 0px; }
    .ingame-lvprogress-bar { padding-top: 5px; }
    .ingame-lvprogress-bar .col-12 > div { margin-left: 2.2px; }
    .ingame-lvprogress-bar img { width: 27.5px; padding-top: 0px; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-vitalstat-bar > div { font-size: 34px; }
    .ingame-vitalstat-icon > img { width: 76%; padding: 15px 0px 5px 17px; }
    .ingame-vitalstat-number > div:first-child,
    .ingame-vitalstat-number > div:last-child { padding: 3px 0 3px 0; }

    .ingame-inventory-itemslot, .ingame-inventory-itemslot-disabled,
    .ingame-inventory-shiftbtn-1, .ingame-inventory-shiftbtn-2 { height: 60px; }
    .ingame-inventory-shiftbtn-1 img { width: inherit; padding: 10px 65px 0 65px; }
    .ingame-inventory-shiftbtn-2 img { width: inherit; padding: 5px 65px 0 65px; }
    .ingame-inventory-shiftbtn-1 img:active { padding-top: 5px; }
    .ingame-inventory-shiftbtn-2 img:active { padding-top: 10px; }

    /* ----- Char Equipment Btn & Money indicator ----- */
    .ingame-hyper-box { width: 135px; height: 135px; }
    .ingame-hyper-box-decor { margin-top: -243px; visibility: hidden; }
    .ingame-goto-inventory > div, .ingame-goto-shop > div:first-child { margin-top:5px; }

    /* ----- The Board Game ----- */
    .ingame-board-container, .ingame-equipmentpane-container { margin-top: 0px; }
}

/***********************************************************************************************************
 * GENERIC MOBILE STYLING
 ***********************************************************************************************************/
/* Firefox - Any version (Gecko) */
@-moz-document url-prefix() {
    @media screen and (max-width: 991px) {
        .ingame-lvprogress-bar .col-12 > div { margin-left: 2.2px !important; }
    }
}

/* Webkit - Chrome & Safari (Any version) */
@media screen and (max-width: 991px) and (-webkit-min-device-pixel-ratio:0) {
    .ingame-lvprogress-bar .col-12 > div { margin-left: 1.5px !important; }
}

/* Microsoft Edge */
@supports (-ms-ime-align:auto) and (max-width: 991px) {
    .ingame-lvprogress-bar .col-12 > div { margin-left: 1.5px !important; }

    .ingame-goto-inventory > div > img {
        padding: 2px 0 2px 3px !important; margin: 3px 4px 4px 0 !important;}
    .ingame-goto-shop > div:first-child { padding-right: 0px !important; }
}

@media screen and (max-width: 991px) {
    .App, .Portal { height: 1024px; }

    header, main, footer { max-width: 550px; min-width: 535px; }

    .ingame-startbtn-container, .ingame-battle-container, .ingame-shoppane-container,
    .ingame-equipmentpane-container { height: 470px; }
    .ingame-board-container > .row > div { border: 1px solid #999999; width: 78px; height: 78px; }
    .equipment-slot { height: 138px; }
    .equipment-slot-innerborder { margin-top: 6px }
    .equipment-slot img { margin: 5px 0 0 3px; }
    .ingame-heropane-container > .row > div { width: 78px; height: 78px; }
    .ingame-heropane-container > .row:last-child > div:nth-child(odd) { font-size: 20px; padding-top: 7px;}
    .ingame-heropane-container > .row:last-child > div:nth-child(even) { font-size: 24px; padding-top: 15px; }
    .ingame-goto-shop > div:first-child > div { font-size: 20px; }

    /* ----- Title & Signup + sign in link buttons ----- */
    .ingame-header-morestuff > div { font-size: 90%; padding-top: 18px; }

    /* ----- Char Profile pic (Status Btn) & char Level indicator ----- */
    .ingame-uber-box { width: 102px; }
    .ingame-charlevel-box { height: 87px; }
    .ingame-profilepic-box { height: 102px; }
    .ingame-charlevel-box > div { border-radius: 60px; width:70px; margin-top: 3px !important; font-size: 40px; }
    .ingame-profilepic-box > div { font-size: 24px; width: 80%; }

    /* ----- Char level progress bar container ----- */
    .ingame-lvprogress-container { height: 70px; margin-top: 20px; margin-bottom: 3px;
        max-width: 468px; padding-left: 0px; padding-right: 0px; }
    .ingame-lvprogress-bar { padding-top: 5px; }
    .ingame-lvprogress-bar { margin: auto; }
    .ingame-lvprogress-bar .col-12 > div { margin-left: 2px; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-vitalstat-container > div:first-child > div { display:none; }
    .ingame-inventory-container > .row:last-child > div { display:block; }
    .ingame-inventory-itemslot,
    .ingame-inventory-itemslot-disabled { padding: 20px 18px 18px 16px !important; }
    .ingame-vitalstat-icon > img { width: 73%; padding: 10px 0 0 20px; }
    .ingame-vitalstat-bar > div { display: none; }
    .ingame-vitalstat-number > div:first-child,
    .ingame-vitalstat-number > div:last-child { width: 45%; margin: auto; font-size: 18px; text-align: center; }

    .ingame-inventory-container > .row:first-child > div { display: none; }
    .ingame-inventory-container > .row:nth-child(2) > div { height: 78px; }
    .ingame-inventory-container > .row:last-child > div { height: 70px; }
    .ingame-inventory-container > .row:nth-child(3) > div > img { height: 100%; padding: 5px 0px 5px 47px; }
    .ingame-inventory-shiftbtn-1, .ingame-inventory-shiftbtn-2 { display: none; }
    .ingame-inventory-shiftbtn-portraitview { border: 1px solid #999999; border-bottom: 3px solid #999999; cursor: pointer; }
    .ingame-inventory-container > .row:last-child > div:nth-child(2) { border-left: 3px solid #999999; }
    .ingame-inventory-container > .row:last-child > div:nth-child(3) { border-right: 3px solid #999999; }

    /* ----- Char Equipment Btn & Money indicator ----- */
    .ingame-hyper-box-decor { display: none; }
    .ingame-hyper-box { margin-top: -130px; width: 102px; height: 102px; }
    .ingame-goto-shop > div:first-child { margin-top: 5px; }
    .ingame-goto-shop > div:first-child > div > img { width: 35%; margin: auto; padding-top: 0px; }
    .ingame-goto-inventory > div, .ingame-goto-shop > div:first-child { margin-top: 5px; }
    .ingame-goto-shop > div:nth-child(2) { text-align: center; margin-top: 5px; font-size: 18px; }
    .ingame-goto-inventory > div > img {
        padding: 1px 0 1px 0; margin: 2px 4px 0 0; cursor: pointer; }

    /* ----- Centre Pane ----- */
    .ingame-battle-container-btn, .ingame-battle-container-btn-disabled { height: 45px; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-goto-shop { margin-left: -6px !important; margin-top: -113px !important; }
    .ingame-goto-inventory { margin-left: 11px !important; margin-top: -113px !important; }

    /* ----- Char Level progress bar container ----- */
    .ingame-lvprogress-bar img { width: 29.6px; padding-top: 0px; }
}

/***********************************************************************************************************
 * PARTICULAR MOBILE STYLING
 ***********************************************************************************************************/
/* Ref device: classic iPad - portrait orientation (768x1024px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
    html, body, div#root { overflow: auto; }

    /* ----- SignUp form ----- */
    .SignUp form .col-md-6 { padding: 0 15px 0 15px; }
    .SignUp form .col-md-6:last-child { border-left: 1px solid #999999; }

    /* ----- Centre Pane ----- */
    .ingame-board-container, .ingame-equipmentpane-container, .ingame-startbtn-container,
    .ingame-heropane-container, .ingame-battle-container,
    .ingame-shoppane-container { width: 480px; }
}

/* Ref device: iPhone 5S - portrait orientation (640x1136px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
    html, body, div#root { overflow: auto; }

    /* ----- Centre Pane ----- */
    .ingame-board-container, .ingame-equipmentpane-container, .ingame-startbtn-container,
    .ingame-heropane-container, .ingame-battle-container,
    .ingame-shoppane-container { width: 91.8%; }

    /* ----- In game inventory & vital stat  ----- */
    .ingame-vitalstat-container, .ingame-inventory-container { width: 97.7%;}
}

@media screen and (max-width: 575px) {
    html, body, div#root { overflow: auto; }

    /* ----- Centre Pane ----- */
    .ingame-board-container, .ingame-equipmentpane-container, .ingame-startbtn-container,
    .ingame-heropane-container, .ingame-battle-container { width: 93.5%; }
}
